.appBackground {
    -fx-background-color: #302f2e;
    -fx-background: #302f2e;
}

.appBackgroundLight {
    -fx-background-color: #ffffff;
    -fx-background: #ffffff;
}

.buttonPositive {
    -fx-background-color: #00ff00;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 20;
    -fx-background-radius: 12px;
}

.buttonNegative {
    -fx-background-color: #ff6f61;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 20;
    -fx-background-radius: 12px;
}

.infoLabels {
    -fx-text-fill: #ffffff;
    -fx-background-color: #302f2e;
}

.infoLabelsLight {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

.infoTextFields {
    -fx-background-color: #ffffff;
    -fx-cursor: text;
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
}

.infoTextFieldsLight {
    -fx-background-color: #302f2e;
    -fx-cursor: text;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.tickerPositive {
    -fx-text-fill: #4CAF50;
    -fx-font-size: 25;
}

.tickerNegative {
    -fx-text-fill: #ff6f61;
    -fx-font-size: 25;
}

.tickerZero {
    -fx-text-fill: #b0b0b0;
    -fx-font-size: 25;
}
