.appBackground {
    -fx-background-color: #302f2e;
}

.appBackgroundLight {
    -fx-background-color: #ffffff;
}

.infoLabels {
    -fx-text-fill: #ffffff;
    -fx-background-color: #302f2e;
}

.infoLabelsLight {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

.infoTextFields {
    -fx-background-color: #ffffff;
    -fx-cursor: text;
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
}

.infoTextFieldsLight {
    -fx-background-color: #302f2e;
    -fx-cursor: text;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.buttonPositive {
    -fx-background-color: #00ff00;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 20;
    -fx-background-radius: 12px;
}

.buttonNegative {
    -fx-background-color: #F8847C;
    -fx-text-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 20;
    -fx-background-radius: 12px;
}
